body{
    color: black;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    line-height: 1.5;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    font-size: 16px;
    border-bottom: 1px solid #453242;
}

a{
    color: black;
    text-decoration: none;
}

h1{
    text-align: center;
    background-color: #87CEEB;
    color: black;
    padding: 2%;

}

nav{
    background-color: #E0FFFF;
}

p{
    font-size: 20px;

}